[submodule "arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "nanopb"]
	path = components/nanopb/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "nanopb_cpp"]
	path = components/nanopb/nanopb_cpp
	url = https://github.com/nanopb/nanopb_cpp
[submodule "components/arduino-libs/pubsubclient"]
	path = components/arduino-libs/pubsubclient
	url = https://github.com/knolleary/pubsubclient
[submodule "components/fmtlib/fmt"]
	path = components/fmtlib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "components/arduino-libs/NimBLE-Arduino"]
	path = components/arduino-libs/NimBLE-Arduino
	url = https://github.com/h2zero/NimBLE-Arduino
[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
[submodule "components/etl/etl"]
	path = components/etl/etl
	url = https://github.com/ETLCPP/etl
[submodule "components/arduino-libs/Adafruit_NeoPixel"]
	path = components/arduino-libs/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
