[submodule "components/pubsubclient"]
	path = components/pubsubclient
	url = https://github.com/knolleary/pubsubclient
[submodule "components/fmt-esp32"]
	path = components/fmt-esp32
	url = https://github.com/SelaliAdobor/fmt-esp32
[submodule "components/fmt"]
	path = components/fmt
	url = https://github.com/fmtlib/fmt/
[submodule "components/fmtlib/fmt"]
	path = components/fmtlib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "components/arduino-libs/NimBLE-Arduino"]
	path = components/arduino-libs/NimBLE-Arduino
	url = https://github.com/h2zero/NimBLE-Arduino
[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
